basic.c
basic
time_pass.cpp
time_pass
Quick_Sort_M1
Quick_Sort_M2
Selection_Sort
searching_in_an_array_where_adjacent_differ_by_atmost_k
search_pairs_whose_diff_equals_diff
sum_of_quad_no_in_array
maximum_sum_such_that_no_elements_are_adjacent
Count_triplet_withsum_smaller_than_a_given_value
merge_two_sorted_arrays_without_using_any_extra_space
Find_the_first_nonrepeating_character_from_a_stream_of_characters
merge_3_sorted_linkedlist
find_common_intersection_point
rotate_a_doubly_linkly_linked_list
rotate_by_n_nodes
roti_paratha
rat_in_maze
NQueen_problem
sudoko_solver
sukoku
Binary_search_tree_using_linkedlist1
tug_of_water
Binary_search_tree_using_linkedlist1
hcf
TheKnightstourproblemBacktracking_1
hcf_m2
knighttiurproblembacktracking_2
tempCodeRunnerFile.c
Facebook_petrolpump_Problem
Facebook_petrolpump_Problem_M2
find_majority_element
find_repeating_and_missing_element_in_array
Maximum_Minimum_using_min_no_of_comperisons
middle_of_three_integers
square_root_smaller_than_given_no
spriral_printing_of_matrix
Binary_search_tree_using_linkedlist
hello_world.c
Parsar
hello_world
median_of_rxc_matrix
Find_the_row_with_max_no0f_ones_M1
sort_matrix_M1
sort_matrix_M2
search_in_rotated_search_array
first_repeating_element_in_arrayByamazon
google_highest_visitors
google_highest_visitors
max_difference_matrix
max_difference_matrix
max_difference_matrix_M2
Rotate_array_by_90_degree
Rotate_array_by_90_degreeM2
kth_smallest_element_in_matrix
word_break
word_break_M2
partition_equal_subset_sum
palindrome_print_of_string
combination_that_sum_to_target
string_permutation
remove_invalid_paranthesis
split_array_largest_sum
subset_sum_0
Product_array_puzzle
min_swap
sort_arrzy_acc_to_max_set_bit
sort_array_acc_to_max_set_bit_M2
find_no_of_inversions
find_no_of_inversions_M2
Bitwise_swaps_codechef
Bitwise_swap_codechef_M2
parallel_processing_codechef_M2
plusle_and_minun_on_array
plusle_and_my_minum_on_array_m2
balanced_paranthesis
Find_two_such_elements_in_the_array_with_only_two_non_repeating_element
Roman_no_to_numerical
iterative_inorder_traversal
iterative_postorder_traversal
iterative_preorder_traversal
Roman_to_integer_well_defined_solution
isSubsiquence
Longest_substring_with_no_repeating_characters
Longest_substring_with_no_repeating_characters_M2
Merge_two_sorted_linked_list
Merge_two_sorted_linked_list_M2
Reverse_linked_list
reduce_array_size_to_half
reduce_array_size_to_half_M2
Position_of_cycle_in_linkedlist
pozition_of_cycle_in_linkedlist
Length_Longest_palindrome_formed_using_given_string
Length_longest_palindrome_formed_using_given_string_M2
Min_no_of_Refueling_stops
Min_no_of_refuling_stops
Stamping_the_Sequence
power_of_four_M2
power_of_four
Longest_Palindrome_substring
Longest_Palindrome_substring_M2
Palindrome_Linked_List
Fibonnachi
Fibonnachi_m2
power_of_three
Ransome_Note
climbing_stairs
Reordered_power_of_two
Reordered_power_of_2_M2
pascals_trialngle_pattern
pascals_triangle_m2
Square_Root_of_any_no
sort_matrix_diagnoally_M2
sor_matrix_diagonally_m3
Rotate_2D_matix_by_ninty_M3
minimum_no_of_coins
mincoins_to_achieve_target
minimum_no_of_coins_M3
reverse_integer
The_no_of_week_points
Ways_to_reach_nth_stairs
Ways_to_reach_nth_stairs_M2
Frog_jump
Frog_Jump_M2
Frog_Jump_M3
Frog_Jump_with_k_distance
Maximum_sum_of_nonAdjacent_element
Frog_Jump_with_k_distance_M2
Maximum_sum_of_nonAdjacent_element_M2
Maximum_sum_of_nonAdjacent_element_M3
House_Robber_2
House_Robber_2_M2
House_Robber_2_M3
Ninja_training
sort_matrix_diagonally
Sort_the_fabric
Water_container_system
max_sum_of_rectangle
Ninja_training_M2
Ninja_training_M3
Total_unique_paths
Total_unique_paths_M2
Total_unique_paths_M3
Maze_obstacles
Maze_obstacles_M2
Maze_obstacles_M3
Minimum_path_sum_in_grid
Minimum_path_sum_in_grid_M2
Minimum_path_sum_in_grid_M3
Triangle_path_sum
Triangle_path_sum_M2
Triangle_path_sum_M3
Minimum_maximum_falling_path_sum
Minimum_maximum_falling_path_sum_M2
Minimum_maximum_falling_path_sum_M3
cherry_pickup_II
cherry_pickup_II_M2
cherry_pickup_II_M3
Subset_Sum_equals_target
Subset_Sum_equals_target_M2
Subset_Sum_equals_target_M3
Partitation_equals_subset_sum
Partitation_equals_subset_sum_M2
Partitation_equals_subset_sum_M3
Divide_the_set_into_two_subset_with_min_absolute_diff
Divide_the_set_into_two_subset_with_min_absolute_diff_M2
Number_of_subsets
Number_of_subsets_M2
Number_of_subsets_M3
Number_of_subsets_M4
partitation_with_given_diff
partitation_with_given_diff_M2
partitation_with_given_diff_M3
Knapsak
Knapsack_M2
Knapsack_M3
Knapsack_M4
Maximum_sum_subarray_of_size_k
First_Negative_no_in_every_subarray_of_size_k
count_occurances_of_annagrams
Maximum_of_Subarray_sizeK
all_in_one_Sorting_algo
balanced_paranthesis_M2
longestCommonPrifix
validParanthesis_usingSTL
min_no_of_arrows_to_burst_balloon
max_ice_cream_bars_M1
max_ice_cream_bars_M2
gasStation_M1
gasStation_M2
max_points_on_line
max_points_on_line_m2
iterative_preorder_traversal_M2
same_tree
first_missing_positive
cyclicSortAlo
mergeSort_M2
kth_smallest_element
larges_subarrayCount_sum
find_the_town_jude
find_the_town_jude_m2
longest_substring_with_k_uniqueCharacter
total_setBits_for_natural_no
insertion_sort
longest_substring_without_repeating_characters
min_window_substring
maximum_subarray_avg1
contains_duplicate_II
find_kBeauty_of_number
coin_change
coin_change_m2
Target_Sum
Target_sum_M2
coin_change_2
coin_change_2_M2
unbounded_knapsack
rod_cutting_problem
rod_cutting_problem_m2
rod_cutting_problem_m3
rod_cutting_problem_m4
longest_common_subsiquence
longest_common_subsiquence_m2
longest_common_subsiquence_m3
print_longest_common_subsequence
longest_common_substring
longest_common_substring_m2
longest_Palindromic_subsequence
longest_Palindromic_subsequence_m2
longest_Palindromic_subsequence_m3
min_steps_to_make_string_palindrome
min_steps_to_make_string_palindrome_m2
minimum_insertion_deletion_to_convert_str1_to_str2
minimum_insertion_deletion_to_convert_str1_to_str2_m2
minimum_insertion_deletion_to_convert_str1_to_str2_m3
solve_more_problem
shortest_common_supersequence
shortest_common_supersequence_m2
shortest_common_supersequence_stringPrint
distinct_subsiquence
distinct_subsiquence_m2
distinct_subsiquence_m3
distinct_subsiquence_m4
edit_distance
edit_distance_m2
edit_distance_m3
Buy_and_Sell_Stock_II
Buy_and_Sell_Stock_II_m2
Buy_and_Sell_Stock_II_m3
Buy_and_Sell_Stock_II_m4
wildCard_Matching
wildCard_Matching_m2
wildCard_Matching_m3
Buy_and_Sell_Stock_III
Buy_and_Sell_Stock_III_m2
Buy_and_Sell_Stock_III_m3
Buy_and_Sell_Stock_III_m4
Buy_and_Sell_Stock_III_m5
Buy_and_Sell_Stock_III_m6
Buy_and_Sell_Stock_IV
Buy_and_Sell_Stock_IV_m2
Buy_and_Sell_Stock_IV_m3
Buy_and_Sell_Stock_IV_m4
Buy_and_Sell_Stock_IV_m5
Buy_and_Sell_Stock_IV_m6
Buy_and_Sell_Stocks_With_Cooldown
Buy_and_Sell_Stocks_With_Cooldown_m2
Buy_and_Sell_Stocks_With_Cooldown_m3
Buy_and_Sell_Stocks_With_Transaction_Fee
Buy_and_Sell_Stocks_With_Transaction_Fee_m2
Buy_and_Sell_Stocks_With_Transaction_Fee_m3
Buy_and_Sell_Stocks_With_Transaction_Fee_m4
Longest_Increasing_Subsequence
Longest_Increasing_Subsequence_m2
Longest_Increasing_Subsequence_m3
Longest_Increasing_Subsequence_m4
Longest_Increasing_Subsequence_using_binarySearch
Print_Longest_Increasing_Subsequence
Sort_Array_by_Increasin_Frequency
Largest_Divisible_Subset
Largest_Divisible_Subset_m2
Largest_Divisible_Subset_m3
print_longest_divisible_subset
longest_string_chain
Longest_Bitonic_Subsequence
Number_of_Longest_Increasing_Subsequences
Matrix_Chain_Multiplication
Matrix_Chain_Multiplication_m2
minimum_cost_to_cut_stick
minimum_cost_to_cut_stick_m2
breath_first_search
burst_balloons
# --------------------------tree Questions Start----------------------------------#
iterative_preorder_traversal_M3
iterative_inorder_traversal_M2
iterative_postorder_traversal_M2
iterative_postorder_traversal_using_one_stack
all_tree_traversal
max_depth_of_tree
Check_for_Balanced_Binary_Tree
Diameter_of_binary_tree
Diameter_of_binary_tree_m2
maximum_path_sum
check_if_two_trees_are_identical
zigZag_Traversal_of_binary_tree
Boundary_Traversal_of_tree
vertical_traversal_of_tree
Top_view_of_tree
bottom_view_of_tree
right_left_view_of_tree
right_left_view_of_tree_m2
symmetrical_binary_search
#---------------------------tree Questions END---------------------------------#
directedGraph
directedGraph_using_adjacency_list